body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination-wrapper li {
  list-style: none;
}

.pagination-wrapper li.selected {
  /* background-color: cyan;
  color: white; */
}

.pagination-wrapper li.disabled {
  /* background-color: cyan;
  color: white; */
  cursor: no-drop;
}

.pagination-wrapper li {
  display: inline-block;
  padding: 10px;
  border: 1px solid;
}